# Default ignored files
/shelf/
/.idea/workspace.xml

### and some other files updated..
.idea/Algos.iml
Tasks_revisiting
.idea/

#### ignore all .idea files ...
.idea/vcs.xml

#### except

# Version Control configuration for your project
!vcs.xml

# how IDEA should treat the text files in your project
!encodings.xml

# automatic code formatting
!codeStyleSettings.xml

# project specific words
!dictionaries

!copyrights
!misc.xml
!sqldialects.xml
/.metadata/
